<div class="edit-list-form">
  <%= form_for @list do |f| %>
  <div class="edit form-group form-inline">
    <%= button_tag(type: "submit", class: "edit-btn", name: "commit", value: "conceal") do %>
      <span class="glyphicon glyphicon-repeat"></span>
    <% end %>
    <%= f.text_field :title, placeholder: "title", :autofocus => true, :required => true, :class => 'form-control' %>
  </div>
  <% end %>
</div>
