<div class="index-form">
  <%= form_for List.new do |f| %>
      <div class="create form-group form-inline">
        <%= f.submit "+" %>
        <%= f.text_field :title, placeholder: "title", :autofocus => true, :required => true, :class => 'form-control' %>
      </div>
    <% end %>
</div>
