<div class="index">
  <h1>List</h1>
  <%= render :partial => 'form_list_edit' %>
  <%= render :partial => 'form_task_new' %>
  <% @list.tasks.each do |task| %>
  <ul>
    <li><%= link_to task.title, list_task_path(@list, task) %></li>
  </ul>
  <% end %>
</div>
