<!-- <div class="container"> -->
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 index">
    <h1>Lists</h1>
    index in list view
    <div class="control">
        <%= render :partial => 'form_list_new' %>
    </div>
    <% @lists.each do |list| %>
    <ul>
      <li><%= link_to list.title, list_path(list) %></li>
    </ul>
    <% end %>
  </div>
<!-- </div> -->
