<div class="">
    <div class="col-xs-12 col-md-6 index">
      <%= render :partial => 'index' %>
    </div>
    <div class="col-xs-12 col-md-6 show">
      <%= render :partial => 'show' %>
    </div>
</div>
