<div class="row">
    <div class="col-xs-12 col-md-3 index">
      <%= render :partial => 'index' %>
    </div>
    <div class="col-xs-12 col-md-3 show">
      <%= render :partial => 'show' %>
    </div>
</div>
