
<div class="edit-list-form_task">
  <%= form_for @list do |f| %>
  <div class="edit form-group form-inline">
    <%= button_tag(type: "submit", class: "edit-btn", name: "commit", value: "conceal") do %>
      <span class="glyphicon glyphicon-repeat"></span>
    <% end %>
    <%= link_to '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe, list_path(@list.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    <%= f.text_field :title, placeholder: "title", :autofocus => true, :required => true, :class => 'form-control' %>
  </div>
  <% end %>
</div>
