<div class="form-group form-inline new-tasks">
  <%= form_for [@list, Task.new] do |f| %>
      <%= f.submit "+" %>
      <%= f.text_field :title, placeholder: "add task",  :autofocus => true, :required => true, :class => 'form-control' %>
  <% end %>
  </div>
