<%= form_for [@list, Task.new] do |f| %>
  <div class="form-group form-inline new-tasks">
      <%= f.submit "+" %>
      <%= f.text_field :title, placeholder: "add task",  :autofocus => true, :required => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "description", :class => 'form-control' %>
  </div>
<% end %>
