<div class="index-form form-list-intask">
  <%= form_for @list do |f| %>
      <div class="create form-group">
        <%= f.submit "+" %>
        <%= f.text_field :title, placeholder: "title", :autofocus => true, :required => true, :class => 'form-control' %>
      </div>
  <% end %>
</div>
