<div class="index-form form-inline">
  <%= form_for List.new do |f| %>
        <%= f.submit "+" %>
        <%= f.text_field :title, placeholder: "add list", :autofocus => true, :required => true, :class => 'form-control' %>

  <% end %>
</div>
