<div class="index-list-task">
    <%= render :partial => 'form_list' %>
    <ul>
        <% @lists.each do |list| %>

          <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <%= link_to list.title, list_tasks_path(list) %></li>
        <% end %>
    </ul>
</div>
