<div class="main-container">
    <div class="col-xs-12 col-sm-4 index_list_show">
      <%= render :partial => 'index_list' %>
    </div>
    <div class="col-xs-12 col-sm-8 edit_list_show">
    <%= render :partial => 'edit_list' %>
      <%= render :partial => 'show_list' %>

    </div>
  </div>
